{{#each this}}
  <li class='project-item'>
    <a class='project-link' target='_blank' href='{{url}}'>
      <img
        class='project-screenshot'
        src='{{screenshot}}'
        alt='screenshot'
        width='100px'
        height='50px'
      />
      <div>
        <h4 class='project-name'>{{name}}</h4>
        <div class='project-content'>
          <img class='project-icon' src='{{icons.description}}' alt='icon' />
          <span class='description'>{{description}} </span>
        </div>
        <div class='project-content'>
          <img class='project-icon' src='{{icons.tools}}' alt='icon' />
          <span class='description'>{{stack}}</span>
        </div>
      </div>
    </a>
  </li>
{{/each}}